*{
    margin: 0%;
    padding: 0%;
    text-decoration:none ;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
}

/*navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    background-color: aqua;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}